<!-- Game info -->
<div id="info_events" data_events="<%= @events.to_json %>"></div>
<div id="info_locations" data_locations="<%= @locations.to_json %>"></div>
<div id="info_items" data_items="<%= @items.to_json %>"></div>
<div id="info_recipes" data_recipes="<%= @recipes.to_json %>"></div>

<%= render "sidebar" %>
<%= render "city" %>
<%= render "camp" %>
