<!-- Game info -->
<div id="eventinfo" dataevents="<%= @events.to_json %>"></div>
<div id="locationinfo" datalocations="<%= @locations.to_json %>"></div>
<div id="itemsinfo" dataitems="<%= @items.to_json %>"></div>
<div id="recipesinfo" datarecipes="<%= @recipes.to_json %>"></div>

<%= render "sidebar" %>
<%= render "city" %>
<%= render "camp" %>
